<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo of box reflect</title>
  <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/index.css">
  <script src="js/vue.js"></script>
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="box" v-for="item in 2">
        <span v-for="item in 10"></span>
      </div>
    </div>
  </div>
 <script>
   const app = new Vue({
     el: "#app",
     data: {},
     computed: {}
   })
 </script>
</body>
</html>